# Dependency directories
node_modules/
vendor/


# Operating system files
.DS_Store
Thumbs.db

# Log files and caches
*.log
.cache/

# Environment and configuration files
.env

# IDE settings
.vscode/
.idea/

# Temporary files
*~
